.breadCrumbs
  	width 350px
  	height 50px

  	margin 10px auto

  	background-color #F8F8F8

.breadCrubms__item
  	display inline-block
  	box-sizing border-box

  	border-right 1px solid #ccc

  	text-align center

  	width 20%

  	line-height 50px

  	color #A1A1A1
  	background-color #F8F8F8

.breadCrubms__item:hover
  	background-color  #EBEBEB
  	cursor pointer
