.breadCrumbs
  	width 70%
  	height 37px

  	margin 30px auto 0

.breadCrubms__item
  	display inline-block
  	box-sizing border-box

  	padding 0 12px

  	height 37px

  	border-top-left-radius 8px
  	border-top-right-radius 8px

  	border-right 1px solid #ccc

  	text-align center

  	line-height 37px

  	color #EAF0F5

  	background-image url('../img/tab-bg.png')
  	background-repeat repeat-x

.breadCrubms__item:hover
  	background-color  #EBEBEB
  	cursor pointer

.contentTabs
  	width 75%
  	margin 0 auto

  	border-radius 15px

  	border 1px solid #28A4F4
