.header
  	margin 0 auto

  	height 105px
  	width 80%

  	background  url('../img/header-bg.png') repeat-x

.header__logo
  	display inline-block

  	padding 27px

.header__title
  	float right
  	display inline-block

  	margin-top 7px
  	margin-left 15px

  	font-size 32px
  	color #fff

.header__menu
  	float right

  	margin-top 40px
  	margin-right 150px

  	list-style-type none

.header__menu-item
  	display inline-block
  	text-align center

  	margin-left 35px

.header__menu-item a
 	color #E9F2F8
	text-decoration underline
	font-size 17px

.header__menu-label
  	display inline-block

  	margin-bottom 7px
  	margin-right 7px

  	width 10px
  	height 10px

.header__menu-item_pressed
  	height 25px

  	margin-top -4px
  	padding 5px 17px 0

  	border-radius 12px
  	background-color #eee

  	box-shadow -1px -2px 3px #bfbfbf

.header__menu-item_pressed .header__menu-label
  	display none;

.header__menu-item_pressed a
  	color: #000
  	text-decoration none
  	font-weight 550




