.stepRooms
  	margin 20px auto

  	width 350px

.stepRooms__title
	margin-bottom 10px
	border-bottom 1px solid #555

	color #FA8303
	font Italic 22px

.stepRooms__room-label
  	float right

  	padding-right 130px
  	margin-top 30px

  	font-size 13px

	color #555

.stepRooms__rooms-room
  	margin-bottom 10px

.stepRooms__rooms-room:nth-child(odd)
	background-color #A48885

.stepRooms__rooms-room:nth-child(even)
  	background-color #DBDEE4

.stepRooms__rooms-room:hover
	background-color #917572
	cursor pointer
