.stepRooms
  	margin 45px

  	width 350px

.stepRooms__title
	color #FA8303
	margin-bottom 10px
	font-family Georgia, Tahoma
	font-size 18px

.stepRooms__room-label
  	float right

  	padding-right 130px
  	margin-top 30px

  	font-size 14px
  	font-weight bold
  	color #717171

.stepRooms__rooms-room
  	margin-bottom 10px

  	background-color #eee

  	border-radius 8px

.stepRooms__rooms-room_select
  	background-color #d0d0d0

.stepRooms__rooms-room:hover
	cursor pointer
