.stepDate
  	position relative
  	margin 45px

  	width 350px

.stepDate__title
  	color #FA8303
  	font-size 18px
  	margin-bottom 10px
  	font-family Georgia, Tahoma

.stepDate__item
  	margin-bottom 20px

.stepDate__label
  	display inline-block
  	width 60px
  	margin 15px

#datepicker
  	height 30px
  	outline none
  	width 200px
  	position static

