.stepPreview
  	margin 35px
  	width 350px

.stepPreview__rooms-image
  	display block
  	border-radius 20px

.stepPreview__rooms-label
  	display inline-block
  	margin 10px 0
  	color #5C5A5A
  	font-weight bold

.stepPreview__dates
  	display inline-block
  	width 450px
  	font-weight bold
  	color #5c5a5a
  	margin-bottom 10px

.stepPreview__list
  	list-style-type none

.stepPreview__item
  	text-transform uppercase
  	margin-left 15px
  	color #8C143C
  	font-weight bold

.stepPreview__quote
  	font-size 10px
