.stepService
  	margin 45px

  	width 700px

.stepService__title
  	color #fa8303
  	margin 10px 10px
  	font-family Georgia Tahoma
  	font-size 18px

.stepService__item
  	margin 12px

.stepService__label
  	display inline-block
  	margin-left 10px
  	cursor pointer
