.people
  	margin 45px

  	width 700px

.people__title
	color #FA8303
	margin-bottom 10px
	font-family Georgia, Tahoma
	font-size 18px

.people__item
  	margin-bottom 20px

.people__label
  	display inline-block
  	width 100px

  	color #828282

  	font-size 16px

.people__area
  	border-radius 6px
  	border 1px solid #DFDFDF;
  	width 235px
  	padding 0 10px
  	margin-right 10px
  	outline none
  	height 35px
  	color #9F9F9F;
  	box-shadow inset 0px 1px 3px 0px #ccc;

.people__area_error
  	border 1px solid #FF4F23
  	color #E64444

.people__added
  	width 340px
  	color #5E79A7
  	text-align right
  	font-size 14px

.people__added:hover
  	cursor pointer
  	text-decoration underline

.people__array
  	min-width 345px
  	margin-top 12px

.people__array th
  	color #A9A9A9
  	font-size 13px

.people__array tr
	background-color #F1F1F1

.people__array td
  	font-size 13px
  	padding 5px

.people__array-remove
  	cursor pointer