.breadCrumbs
	.breadCrubms__item(data-ng-repeat='item in breadCrumbs | limitTo:currentPosition' data-ng-click='goPrevFromTabItem(item.id)') {{item.title}}
	.breadCrumbs__buttons
		a.breadCrumbs__button.breadCrumbs__prev(data-ng-show='currentPosition >= 2' data-ng-click='goPrevStep()') Назад
		a.breadCrumbs__button.breadCrumbs__next(data-ng-show='currentPosition >= 2 && currentPosition < 5' data-ng-click='goNextPrev()') Далее
	.breadCrumbs__tooltip
		.breadCrumbs__tooltip-title Итого
		.breadCrumbs__tooltip-sum {{totalSum  | number}}
		img(src='../img/type.png')

