div(data-bread-crumbs data-current-position='currentStep')
.contentTabs
	div(data-step-rooms  data-block-step='1' data-current-step='currentStep')
	div(data-step-date data-block-step='2' data-current-step='currentStep')
	div(data-step-people data-block-step='3' data-current-step='currentStep')
	div(data-step-service data-block-step='4' data-current-step='currentStep')
	div(data-step-preview data-block-step='5' data-current-step='currentStep')
