.stepPreview(data-ng-show='currentStep == blockStep')
	.stepPreview__rooms
		span.stepPreview__rooms-label Стоимость {{preview.room.cost}} (руб / cутки)
		span.stepPreview__dates Период проживания ({{preview.dates.from}} - {{preview.dates.to}}), {{preview.days}} дн.
		img.stepPreview__rooms-image(data-ng-src='{{preview.room.image}}' width='350' height='280')
	ul.stepPreview__list
		span.stepPreview__rooms-label Посетители
		li.stepPreview__item(data-ng-repeat='people in preview.people') {{$index + 1}}) {{people.fam}} {{people.first}} {{people.second}}, {{people.age}}

	ul.stepPreview__list(data-ng-show='!!preview.services.length')
		span.stepPreview__rooms-label Заказанные услуги к номеру
		li.stepPreview__item(data-ng-repeat='service in preview.services') {{$index + 1}}) {{service.title}}, {{service.cost}} (руб.)
			span.stepPreview__quote(data-ng-show='service.people') &nbsp с человека в сутки

	a.breadCrumbs__button.breadCrumbs__button_big(data-ng-click='sendClientData()') Оформить номер
