.stepService
	.stepService__title Опции
	.stepService__item(data-ng-repeat='service in services')
		input.stepService__check(type='checkbox' id='{{service.model}}' data-ng-model='service.model')
		label.stepService__label(for='{{service.model}}') {{service.title}}
	