.stepRooms
	.stepRooms__title Тип номера
	.stepRooms__rooms
		.stepRooms__rooms-room
			img(data-ng-src='img/1room.jpg' width='100' height='80')
			span.stepRooms__room-label 1-комнатный
		.stepRooms__rooms-room
			img(data-ng-src='img/2rooms.jpg' width='100' height='80')
			span.stepRooms__room-label 2-комнатный
		.stepRooms__rooms-room
			img(data-ng-src='img/3rooms.jpg' width='100' height='80')
			span.stepRooms__room-label 3-комнатный
