.stepRooms(data-ng-show='currentStep == blockStep')
	.stepRooms__title Тип номера
	.stepRooms__rooms
		.stepRooms__rooms-room(data-ng-repeat='room in rooms' data-id='{{room.id}}' data-cost='{{room.cost}}')
			img(data-ng-src='{{room.src}}' width='100' height='80')
			span.stepRooms__room-label {{room.title}}
