.stepDate(data-ng-show='currentStep == blockStep')
	.stepDate__title Время проживания
	.stepDate__item
		span.stepDate__label Заезд
		input.stepDate__date.people__area(id='datepickerFrom' type='text' data-ng-model='from')
	.stepDate__item
		span.stepDate__label Выезд
		input.stepDate__date.people__area(id='datepickerTo' type='text' data-ng-model='to')
